@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light-webfont.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}
  
.photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.photo-grid-item {
    border: 3px solid #000000;
    width: 646px;
    height: 326px;
    margin: 3px;
}

.first-item {
    order: 1;
}

.last-item {
    order: -1;
}
